.new-post h2 {
  text-align: center;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
}

.form-control label {
  margin-bottom: 0.5rem;
}

form input .btn,
.form-control input,
.form-control textarea {
  width: 250px;
  padding: .5rem;
  border-radius: 5px;
  border: none;
}

form .btn {
  width: 269px;
  margin: 0 auto;
  padding: .5rem;
  border-radius: 5px;
  border-radius: 5px;
  font-family: 'Blinker';
  font-size: 1.2rem;
  font-weight: 600;
  background-color: rgb(214, 19, 19);
  color: rgb(26, 25, 25);
  cursor: pointer;
}

form .btn:hover {
  background-color: rgb(7, 247, 7);
  color: rgb(214, 19, 19);
}

.span-container {
  display: flex;
  justify-content: space-between;
}

.span-container span {
  font-size: 23px;
}